---
import AccordionLayout from "../layouts/AccordionLayout.astro";
import * as about from "../pages/about/about.md";
import Card from "./Card.astro";
import ContactCard from "./ContactCard.astro";

const projects = import.meta.glob("../pages/projects/*.md");
const contact = import.meta.glob("../pages/contact/*.md");
const certificates = import.meta.glob("../pages/certificates/*.md");

const projectsContent = [];
for (const path in projects) {
  projectsContent.push(await projects[path]());
}

const contactContent = [];
for (const path in contact) {
  contactContent.push(await contact[path]());
}

const certificateContent = [];
for (const path in certificates) {
  certificateContent.push(await certificates[path]());
}
---

<div class='join join-vertical gap-1'>
  <AccordionLayout title={"About me"} icon={"carbon:identification"}>
    <article class='text-justify'>
      <Fragment set:html={about.compiledContent()} />
    </article>
  </AccordionLayout>

  <AccordionLayout title={"Projects"} icon={"carbon:tools"}>
    {
      projectsContent.map((item) => {
        return (
          <Card
            title={item.frontmatter.title}
            timeframe={item.frontmatter.date}
            description={item.compiledContent()}
            tags={item.frontmatter.tags}
            url={item.frontmatter.url}
            url_name={"View project"}
          />
        );
      })
    }
  </AccordionLayout>

  <AccordionLayout title={"Certificates"} icon={"carbon:certificate"}>
    {
      certificateContent.map((item) => {
        return (
          <Card
            title={item.frontmatter.title}
            timeframe={item.frontmatter.date}
            description={item.compiledContent()}
            tags={item.frontmatter.tags}
            url={item.frontmatter.url}
            url_name={"View project"}
          />
        );
      })
    }
  </AccordionLayout>

  <AccordionLayout title={"Contact"} icon={"carbon:location-person"}>
    <div class='flex flex-wrap content-around gap-4 justify-center'>
      {
        contactContent.map((item) => {
          return (
            <ContactCard
              url={item.frontmatter.url}
              url_name={item.frontmatter.title}
              icon={item.frontmatter.icon}
            />
          );
        })
      }
    </div>
  </AccordionLayout>
</div>
